<form>
    <div class="form-group">
        <label for="name">store Name</label>
        <input type="text" class="form-control" id="name" ng-model="store.title" placeholder=""> </div>

    <label for="name">product Description</label>
    <input type="text" class="form-control" id="desc" ng-model="store.description" placeholder=""> </div>

    <label for="name">product adresse</label>
    <input type="text" class="form-control" id="adress" ng-model="store.adress" placeholder=""> </div>


    <label for="name">product tel</label>
    <input type="text" class="form-control" id="tel" ng-model="store.tel" placeholder=""> </div>

    <label for="name">product mainImageUrl</label>
    <input type="text" class="form-control" id="image" ng-model="store.mainImageUrl" placeholder=""> </div>

    <label for="name">product iconUrl</label>
    <input type="text" class="form-control" id="icon" ng-model="store.iconUrl" placeholder=""> </div>



    <button type="submit" class="btn btn-primary" ng-click="addTheStore()">env</button>
</form>
name  {{message}} {{product.title}}
