<div style="font-weight : bold; font-size: 13px">HOME</div>
<ul><span class="fa fa-bars text-primary"></span><a href="#home" > A la une</a></ul>
<br>
<div style="font-weight : bold; font-size: 13px">PRODUIT</div>
<ul><span class="fa fa-line-chart text-primary" aria-hidden="true"></span><a href="#products/popular"> Popular</a></ul>
<ul><span class="fa fa-sign-language text-primary" aria-hidden="true"></span><a href="#products/new"> New</a></ul>
<ul><span class="fa fa-shopping-cart text-primary" aria-hidden="true"></span><a href="#product4X/sale"> On Sale</a></ul>
<ul><span class="fa fa-link text-primary" aria-hidden="true"></span><a href="#product4X/promo"> Promotion</a></ul>
<br>
<div style="font-weight : bold; font-size: 13px">CATEGORIES</div>
<ul><span class="fa fa-male text-primary" aria-hidden="true"></span><a href="#products/Men"> Men</a></ul>
<ul><span class="fa fa-female text-primary" aria-hidden="true"></span><a href="#products/Wome"> Women</a></ul>
<ul><span class="fa fa-home text-primary" aria-hidden="true"></span><a href="#products/home"> Home</a></ul>
<ul><span class="fa fa-hand-peace-o text-primary" aria-hidden="true"></span><a href="#products/kids"> Kids</a></ul>
<ul><span class="fa fa-eye text-primary" aria-hidden="true"></span><a href="#products/gadgets"> Gadgets</a></ul>
<ul><span class="fa fa-video-camera text-primary" aria-hidden="true"></span><a href="#products/pets"> Pets</a></ul>
<ul><span class="fa fa-area-chart text-primary" aria-hidden="true"></span><a href="#products/arts"> Arts</a></ul>
<br>
<div style="font-weight : bold; font-size: 13px">STORE</div>
<ul><span class="fa fa-shopping-cart text-primary" aria-hidden="true"></span><a href="#stores"> Shop</a></ul>
