
    <div class = "productMainDetail">

        <div class="productdetails">
            <img class="productImage" ng-src="{{product.image}}"> </img>
            <div class="productOtherImages">

            </div>
            <div class="productDescription">
                Description
                <br>
                {{product.description}}
            </div>
        </div>


        <div class="productActions">
            <h3>{{product.name}}</h3>
            <h5>{{product.price}}</h5>
            <div class="actionButton">Ajouter Panier</div>
            <div class="separator"></div>
            <div class="buttons">
                 <div class="button">Like</div>
                 <div class="button">share</div>
            </div>
        </div>


        <div class="productStore">
            <div class= "storeTop" >
                <img class="storeIcon" ng-src="{{product.image}}"> </img>
                <div class="storeTitle">
                    More From
                </div>
                <div class="storeLikeButton">Folow</div>
            </div>

            <div class="storeMiddle"></div>
            <div class="storeBottom">Ask a Question</div>

        </div>

    </div>
