
    <div class = "productMainDetail">

        <div class="productdetails">
            <img class="productImage" ng-src="{{product.mainImageUrl}}"> </img>
            <div class="productOtherImages">
                <div class="otherProductImageCard" ng-repeat="image in product.images">
                    <img class="otherProductImage" ng-src="{{image.imageUrl}}"> </img>
                </div>
            </div>
            <div class="productDescription">
                Description
                <br>
                {{product.description}}

            </div>
        </div>


        <div class="productActions">
            <h3>{{product.title}}</h3>
            <h5>{{product.prix}}</h5>
            <div class="actionButton">Ajouter Panier</div>
            <div class="separator"></div>
            <div class="buttons">
                 <div class="button">Like</div>
                 <div class="button">share</div>
            </div>
        </div>


        <div class="productStore">
            <div class= "storeTop" >
                <img class="storeIcon" ng-src="{{store.mainImageUrl}}"> </img>
                <div class="storeTitle">
                    <div class="title">More From</div>
                    <div class="title">{{store.title}}</div>
                </div>
                <div class="storeLikeButton" ng-click="showStore()">Visiter</div>
            </div>

            <div class="storeMiddle">
            <div class="storeProductCard" ng-repeat="aProduct in store3Products" ng-click="showProduct($index)">
                <img class="storeProductImage" ng-src="{{aProduct.mainImageUrl}}"> </img>
            </div>
            </div>

            <div class="storeBottom">Ask a Question</div>

        </div>

    </div>
