<div class="login">
    <div class="loginDetail">

        <div class="loginHeader">
            Folowing
        </div>
        <div class="separatorS1">

        </div>
        <div class="contentLogin">
            <p>
                <b>Our website is more fun with friends!</b>
                Log in to see what your friends are up to.
            </p>
            <button type="button" class="btn btn-primary btn-block"
                    style="width: 90%;margin-left: auto;margin-right:auto;">Log in with Facebook
            </button>
            <button type="button" class="btn btn-info btn-block"
                    style="width: 90%;margin-left: auto;margin-right:auto;">Log in with Twiter
            </button>
        </div>

        <div class="separatorS2">
        </div>
        <div class="joinLogin">
            join us now
        </div>

    </div>


    <div class="getApp">
        <h3>GET THE APP</h3>
        <div class="separatorS3"></div>
        <b>Discover amazing things anytime, anywhere.</b>
        <button type="button" class="btn btn-default btn-block"
                style="width: 90%;margin-left: auto;margin-right:auto; color: #4978b3;    border-style: solid;
    border-color: #4978b3 #4978b3;">Download App
        </button>

    </div>

</div>