<div class="home" >
    <div class="col-sm-2">
        <div ng-include = "'views/leftMenu.html'"></div>
    </div>

    <div class="col-sm-8 productsGrid">
        <div  ng-repeat="store in stores">
                <div class="store2XCards small" ng-click="showStore($index)">
                    <img class="headerImg" ng-src="{{store.headerImg }}">
                    <img class="iconImg" ng-src="{{store.iconImg }}">
                    <h3>{{store.name}}</h3>
                  <h9>{{store.description}}</h9>
                    <div class="separator"></div>
                    <div class="viewStore"> View Store </div>
                </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div ng-include = "'views/leftMenu.html'"></div>
    </div>

</div>


